<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="container text-center">
                <p class="text-muted mb-2">© {{ site.time | date: "%Y" }} {{ site.name }}. All rights reserved.</p>
                <div class="small">
                    <a href="/legal#terms" class="text-decoration-none text-muted mx-2">Terms of Service</a> |
                    <a href="/legal#privacy" class="text-decoration-none text-muted mx-2">Privacy Policy</a> |
                    <a href="/legal#refunds" class="text-decoration-none text-muted mx-2">Refund Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>