<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ page.title }} | Coach Rye Solutions">
<meta property="og:description" content="CliftonStrengths® Performance Coaching for Professionals">
<!-- <meta property="og:image" content="{{ site.url }}/assets/images/coachrye-og-image.jpg"> -->

{% if page.image %}
<meta property="og:image" content="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}">
{% else %}
<meta property="og:image" content="{{ site.url }}/assets/images/coachrye-og-image.jpg">
{% endif %}

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta property="twitter:title" content="{{ page.title }} | Coach Rye Solutions">
<meta property="twitter:description" content="CliftonStrengths® Performance Coaching for Professionals">
<meta property="twitter:image" content="{{ site.url }}/assets/images/coachrye-og-image.jpg">

<link rel="icon" href="{{ site.url }}/assets/images/logo.png">
<script src="https://kit.fontawesome.com/41fc478e15.js" crossorigin="anonymous"></script>
<script src="https://cdn.sendfox.com/js/form.js" charset="utf-8"></script>
<title>{{ page.title }} | {{site.name}}</title>